*{
box-sizing: border-box;
}
.testyClass{
    width: 15px;
    height: 15px;
    border: 1px solid darkslategrey;
    border-radius: 2px;
}
.csDanger{
    background-color: crimson;
}
.csSuccess{
    background-color: greenyellow;
}