<li class="list-group-item" 
[ngClass]="{'list-group-item-danger': appareilStatut==0,'list-group-item-success': appareilStatut==1}">
    <!--<div class="testyClass csDanger" *ngIf="appareilStatut==false"></div>
    <div class="testyClass csSuccess" *ngIf="appareilStatut==true"></div>-->
    <h4>Appareil : {{ appareilName }} --- Statut : {{ getStatut() }} </h4>
    <input type="text" class="form-control" [(ngModel)]="appareilName">

    <button 
        class="btn btn-sm btn-success"
        *ngIf="appareilStatut === 0"
        [disabled]="appareilStatut === 1"
        (click)="onSwitch()">Allumer
    </button>

    <button class="btn btn-sm btn-danger"
    *ngIf="appareilStatut === 1"
    (click)="onSwitch()">Eteindre</button>

</li>
