	<div class="limiter">
		<div class="contLogin" id="Login">
			<div class="wrapLogin">
				<form class="formLogin" (ngSubmit)="onSignIn(g)" #g="ngForm">

					<span class="titleLogin">
						Bobbles
					</span>

					
					<div class="labelContLogin	">
						<span class="txt">
							Username
						</span>
					</div>
					<div class="imputContLogin" data-validate = "Username is required">
						<input class="imputLogin" type="text" name="username" ngModel required >
					</div>
					
					<div class="labelContLogin">
						<span class="txt">
							Password
						</span>
					</div>

					<div class="imputContLogin" data-validate = "Password is required">
						<input class="imputLogin" type="password" name="pwd" ngModel required >
					</div>

					<div class="btnContDarkLogin">
						<button class="btnDarkLogin"
						type="submit"
						[disabled]="g.invalid"
						[ngClass]="{
							'disabled': g.invalid
						}">
							Sign In
						</button>
					</div>

					<div class="linkTextLogin">
						<span class="textSmall">
							New dude ?
						</span>

						<a class="textSmall" (click)="toggleLoginRegister('Login')" (mouseenter)="a=a">
							Sign up now
						</a>
					</div>
				</form>
			</div>
        </div>
        
		<div class="contLogin" id="Register" style="display: none;">
			<div class="wrapLogin">
				<form class="formLogin" (ngSubmit)="onSubmit(f)" #f="ngForm">

					<span class="titleLogin" style="padding-bottom: 10px;">
						Bobbles
					</span>
					
					<div class="labelContLogin">
						<span class="txt">
							Username
						</span>
					</div>
					<div class="imputContLogin" data-validate = "Username is required">
						<input class="imputLogin" type="text" name="username" ngModel required>
					</div>
					
					<div class="labelContLogin">
						<span class="txt">
							Email
						</span>
					</div>
					<div class="imputContLogin" data-validate = "Email is required">
						<input class="imputLogin" type="email" name="email" [email]="true" ngModel required>
					</div>

					<div class="labelContLogin">
						<span class="txt">
							Password
						</span>
					</div>

					<div class="imputContLogin" data-validate = "Password is required">
						<input class="imputLogin" type="password" name="pwd" ngModel required>
					</div>
					<div class="labelContLogin">
						<span class="txt">
							Repeat Password
						</span>
					</div>

					<div class="imputContLogin" data-validate = "Password is required">
						<input class="imputLogin" type="password" name="pwdRepeat" ngModel required>
                    </div>
                    

					<div class="btnContDarkLogin">
						<button type="submit" 
						class="btnDarkLogin" 
						[disabled]="f.invalid"
						[ngClass]="{
							'disabled': f.invalid
						}">
							Register
						</button>
					</div>

					<div class="linkTextLogin">
						<span class="textSmall">
							Nothing to do here ?
						</span>

						<a id="gotoSignIn" class="textSmall" (click)="toggleLoginRegister('Register')">
							Sign in now
						</a>
					</div>
				</form>
			</div>
		</div>


	</div>