<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">{{title}}</h2>
      <p class="center">{{ lastUpdate | async | date }}</p>
      <ul>
        <app-appareil *ngFor="let aps of appareils" 
        [appareilName]="aps.name"
        [appareilStatut]="aps.status"
        ></app-appareil>
      </ul>
      <button class="btn btn-success" 
      (click)="onToggleStat()"
      [disabled]="!isAuth">Tout allumer</button>
    </div>
  </div>
</div>