#bodyGuard{
  height: 100vh;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  overflow: hidden;
}


#page-content {
  flex: 1 0 auto;
  overflow: auto;
  max-height: 87vh;
}

#sticky-footer {
  flex-shrink: 0;
}

.navbarbar{
  height: 6vh;
}

.navbar-right{
  margin: 0 0 0 65vw; 
}
.disabled{
  cursor: not-allowed;
}
.disabled:hover{
  cursor: not-allowed;
}

/* ALERT CLASS */
.cs-alert{
  position: absolute;
  bottom: 100px;
  height: auto;
  background-color: transparent;
  width: 60%;
  z-index: 9999;
}


/* MENU CLASS */

.menu-cont{
  position: absolute;
  top: 6vh;
  height: 80vh;
  min-width: 18vw;
  box-sizing: content-box;
}

