<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h2 class="text-center">{{title}}</h2>
          
          <ul>
            <!--<app-post *ngFor="let p of posts"
            [title]="p.title"
            [content]="p.content" 
            [loveIts]="p.loveIts"
            [created_at]="p.created_at">
            </app-post>-->
            <app-appareil *ngFor="let aps of appareils; let i = index" 
            [appareilName]="aps.name"
            [appareilStatut]="aps.status"
            [index]="i"></app-appareil>
          </ul>
          <button class="btn btn-success"
          [disabled]="!isAuth"
          (click)="onAllumer()">Tout allumer</button>
          <button class="btn btn-danger"
          [disabled]="!isAuth"
          (click)="onEteindre()">Tout éteindre</button>
        </div>
      </div>
    </div>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; NoName </small>
    </div>
  </footer>
</body>
