#bodyGuard{
  height: 100vh;
  // background: #007bff;
  // background: linear-gradient(to right, #0062E6, #33AEFF);
  background-color: transparent;
  overflow: hidden;
}


#page-content {
  flex: 1 0 auto;
  overflow: auto;
  max-height: 87vh;
}

#sticky-footer {
  flex-shrink: 0;
  background-color: rgb(27, 35, 44);
}

.navbarbar{
  height: 6vh;
  background-color: rgb(27, 35, 44);;
}

.navbar-right{
  margin: 0 0 0 65vw; 
}
.disabled{
  cursor: not-allowed;
}
.disabled:hover{
  cursor: not-allowed;
}

/* ALERT CLASS */
.cs-alert{
  position: absolute;
  bottom: 100px;
  height: auto;
  background-color: transparent;
  width: 60%;
  z-index: 9999;
}


/* MENU CLASS */

.menu-cont{
  position: absolute;
  top: 6vh;
  height: 80vh;
  min-width: 18vw;
  box-sizing: content-box;
}

.profilIcon{
  border: 1px solid #333333;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 2px solid ghostwhite;
  cursor: pointer;
}

.iconBg{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}