<div class="w-100 p-3 overflow-auto rounded" style="background-color: rgba(59, 59, 59, 0.479);height: 70vh;margin-top: 5vh;">
    <div class="container-fluid">
        <div class="row">

            <app-shop-skin class="col-sm-3 p-2" style="min-height: 200px;text-align: center;" 
                *ngFor="let skin of skins; index as i"
                [name]="skin.name"
                [price]="skin.price"
                [img]="skin.img_url"
                [owned]="skin.owned"
                [index]="i"
            >
            </app-shop-skin>
        
            
        </div>
    </div>
</div>
